*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.td {
    background-color: black;
    width: 20px;
    height: 20px;
}


.h1{
    text-align: center;
    color: green ;
}